<?xml version="1.0"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="LOG_PATH_NAME_WITHOUT_EXTENSION" source="logging.file.name"/>
    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_PATH_NAME_WITHOUT_EXTENSION}.${bySecond}.log</file>
    </appender>

    <appender name="REQUEST_FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_PATH_NAME_WITHOUT_EXTENSION}.${bySecond}.request.log</file>
    </appender>

    <root>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.springframework.ai.chat.client.advisor"
            additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>
    <logger name="pl.bartek.aidevs.config.LoggingRestClientInterceptor"
            additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>
</configuration>
